@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/628/905/163/anime-huashijw-starry-night-hd-wallpaper-preview.jpg")
    
  }